* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* css reset */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #222;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}

h1{
  font-size: 40px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/* flexbox */ 
nav div{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:16px;
}/* flexbox */

.hero{
  max-width: 500px;
  margin: 20px 0px;
  padding: 0 16px;
}

.grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:1rem;
  padding:20px 0px;
  
}

button{
  margin:10px 0px;
  padding:5px;
  color:rgb(254, 254, 254);
  background-color:rgb(227, 24, 75);
  }

footer {
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 16px 0;
  margin-top: 40px;
}
